*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(
        38deg,
        rgba(156,58,180,1) 0%,
        rgba(227,66,134,0.87) 55%,
        rgba(156,58,180,1) 100%
    );

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
}

p{
    color: rgb(241, 244, 246);
    font-size: clamp(2rem, 6vw, 5rem);
    margin-bottom: 30px;
}

button{
    font-size: clamp(1rem, 4vw, 2rem);
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#yesBtn{
    transform: none;
}

#noBtn{
    position: absolute;
}
